* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.Btn-details{
    height: 60px;
    width: 150px;
    color: white;
    background-color: #FD6E0A;
    padding: 15px 30px;
    border: none;
}
/* navigation and styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-primary{
    color:#FD6E0A;
}
/* banner texts */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
}
.banner-text{
    font-size: 18px;
    color: #757575;
}