* {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}
.Btn-details {
  height: 60px;
  width: 170px;
  color: white;
  background-color: #fd6e0a;
  padding: 15px 15px;
  border: none;
  margin-top: 30px;
  font-size: 18px;
}
/* header style */
.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-position: bottom right, left center;
  background-repeat: no-repeat;
}
/* navigation and styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.text-primary {
  color: #fd6e0a;
}
/* banner texts */
.banner {
  display: flex;
  align-items: center;
  margin: 0 200px;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-text {
  font-size: 18px;
  color: #757575;
}
main {
  width: 1140px;
  margin: 0 auto;
}
/* section styles */
.about {
  margin: 130px;
  background-color: #fff8f3;
  padding: 120px 80px;
  border-radius: 10px;
}
.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
}
.section-text {
  text-align: center;
  color: #757575;
}
/* about info container */
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
  margin-top: 30px;
}
.info-title {
  font-size: 20px;
}
.info-details {
  font-weight: 700;
  font-size: 20px;
}
/* What i do styles */
.what-i-do {
  margin: 120px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.skill-container {
  display: flex;
  gap: 15px;
}
.skill {
  margin: 20px;
  background: #ffffff;
  box-shadow:0px 0px 10px #c9bcbc79;
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* resume */
.resume-content{
    display: flex;
    gap: 20px;
}
.resume-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.resume-title2{
    font-size: 26px;
    margin-top: 10px;
}
.resume-title3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.resume-title4{
    color: #757575;
    margin-bottom: 20px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
.contact{
    display: flex;
    gap: 20px;
    background: #FFF8F3;
    max-width: 1600px;
    padding: 120px 150px;

}
.contact-title{
    font-size: 35px;
    font-weight: 700;
}
.one{
    margin-top: 20px;
    height: 40px;
    width: 250px;
}
.two{
    margin-top: 20px;
}
a{
    text-decoration: none;
}